* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #2e2d2b;
}

#searchDiv {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#searchInput {
    height: 40px;
    width: 700px;
    border-radius: 100vw;
    border: none;
    padding: 2px 25px;
    margin-bottom: 30px;
    font-size: 16px;
}

#searchItemContainer {
    margin-left: 100px;
}

.searchItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.searchItem p {
    color: white;
}

.pageLinkBox {
    display: flex;
    width: fit-content;
    text-decoration: none;
}

.pageLinkBox:hover + .pageLinkTitle {
    text-decoration: underline;
}

.pageInfo {
    display: flex;
}

.favIcon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.pageTitle {
    font-size: 14px;
}

div .pageLink {
    font-size: 10px;
    color: lightgray;
}

.searchItem .pageLinkTitle {
    font-size: 24px;
    text-decoration: none;
    width: fit-content;
    color: lightblue;
}

.searchItem .pageDescription {
    font-size: 14px;
    color: lightgray;
}

.pageLinkTitle:hover {
    text-decoration: underline;
}

.searchItem .pageLinkTitle:visited {
    color: #CBC3E3;
}

